extends ../layouts/list.jade
block title
  |所有馆藏位置
block table_head
  +ths('馆藏位置','地址','管理员','联系方式','编辑')

block table_body
  each site in sites
    tr
      td
        a(href=url_for('collection_site',site.id)) #{site.name}
      td #{site.address}
      td #{site.admin}
      td #{site.phone}
      td
        a(href=url_for('collection_site_edit',site.id)) 编辑

block methods
  a.btn.btn-info(href=url_for('collection_site_new')) 新建馆藏位置
